/* Основни стилове */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #333;
}

/* Стилове за игралните контроли */

.game-controls {
    display: flex;
    justify-content: space-between; /* Разпределя контролите равномерно */
    align-items: center;
    flex-wrap: wrap; /* Позволява редове да се пренареждат на нов ред */
    margin-bottom: 20px;
}

/* Стилове за формите в игралните контроли */

.game-controls form {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Отстояние между формите */
    margin-left: 40px;
}

/* Стилове за етикетите във формите */

.game-controls form label {
    margin-right: 10px; /* Отстояние след етикетите */
}

/* Стилове за входните полета във формите */

.game-controls form input[type="number"] {
    margin-right: 10px; /* Отстояние след входните полета */
}

/* Стилове за бутоните във формите */

.game-controls form button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.game-controls form button:hover {
    background-color: #45a049;
}

/* Стилове за таймера на играта */

.game-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#gameTimer {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    background-color: #fff;
}

/* Стилове за монитора за действия */

.actionMonitor {
    border: 1px solid #4CAF50;
    padding: 10px;
    margin-top: 20px;
    max-height: 110px;
    overflow-y: auto;
    background-color: #f9f9f9;
}
.actionMonitor p {
    margin: 0; /* Премахва вътрешния отстъп на параграфите */
}

/* Стилове за работническите панели */

#workerPanelsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.worker-panel {
    border: 1px solid #4CAF50;
    display: flex;
    flex: 0 0 calc(33.33% - 20px); /* Разделяне на контейнерите на по 3 в ред */
    /* Ширината е 33.33% от родителския контейнер (минус 20px за отстоянията) */
    box-sizing: border-box; /* Включване на padding и border в общата широчина */
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.miner-info {
    display: flex;
    width: 60px;
    height: 60px;
    background-image: url('../images/miner.gif');
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.worker-info {
    flex-grow: 1;
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column; /* Поставя информацията една под друга */
}

.worker-info p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.worker-info p:first-child {
    font-weight: bold;
}

